<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Overtime</title>
    <style media="screen">

    </style>
  </head>
  <body>
  <br>
    <%= link_to image_tag('overtime.jpg'), 'about' %>

  <h1>Overtime</h1>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <br>
    <br> <p body style="background-color:powderblue;" align="middle">Just for Test </p>
    <br>
      <ul>
        <li href="https://www.w3schools.com">Directorio</li>
        <li>workflow</li>
        <li>status</li>
      </ul>
      <br>

      <h1>homepage<h1>
        <%= link_to 'about', about_path %>
  </body>
</html>
