<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Overtime Approval</title>
  </head>
  <body>
    <img src="overtimebanner.jpg" alt="banner de tiempo extra" width="1600" height="300"><br>
    <h1 style="color:white; font-family:verdana; text-align:center; background-color:DodgerBlue;">Proceso de aprovacion de tiempos extra</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <ul>
        <li><a href="https://www.w3schools.com">Directorio</a></li>
        <li>Proceso</li>
      </ul>
    <button>  <%= link_to 'About', welcome_about_path %></button>
    <h1>homepage<h1>


  </body>
</html>
